/*
  # 아이디(id) 스타일 선택자
  : #아이디명 으로 선택자 지정
*/
#unique {
  color: lightpink;
}


/*
  # 클래스(class) 스타일 선택자
  : .클래스명 으로 선택자 지정
*/

.heading2 {
  color: lightgreen;
}

/*
  #태그(타입, 요소) 스타일
  : 선택자를 태그명으로 지정
 */

h1 {
  color: lightcoral;
}

h2 {
  /* !important 속성은 속성값 옆에 띄어쓰기로 구분하여 작성 */
  color: lightblue;
}

/* 중요도 & 적용 범위 같음: 작성 순서에 따라 표시 */
p {
  color: yellow;
  background-color: black;
}

p {
  color: green;
}

p {
  color: tomato;
  /* 
    덮어쓰지 않는 스타일은 그대로 적용! 배경색!
    > 같은 속성만 덮어쓰기
  */
}

/* # 스타일 상속 */
#container {
  /* 부모 요소인 container div의 글자색이 span 태그에도 적용(상속) */
  color: red;
  background-color: yellow;
}

#inner {
  font-weight: 900;
  background-color: green;
}

.text {
  /* 요소에 직접적인 스타일 지정 시, 상속값 생략 */
  color: lightblue;
  background-color: inherit; 
  /* inherit하지 않으면 투명이다.
      inherit 해서 inner의 green색을 상속받아서 진짜 초록이다.*/
}