body{
  margin: 0;
  background: linear-gradient(to bottom right, #fffbf1, #fce4ce);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#app {
  /* 16진수 색상 표현 가능함 -> 7~8 자리는 투명도를 결정함 -> rgba의 a임*/
  background-color: #ffffffcc;
  width: 860px;
  padding: 30px;
  border-radius: 24px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;

  /* 배경 흐림 효과 */
  backdrop-filter: blur(10px);
}

.toolbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type='color'],
input[type='range'],
button {
  padding: 10px 14px;
  font-size: 0.95rem;
  border-radius: 12px;
  border: 2px solid #ddd;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
}

input[type='color'] {
  width: 60px;
  height: 48px;
  padding: 5px;
}

input[type='range'] {
  padding:0;
}

button {
  background-color: #f8bbd0;
  color: #4a4a4a;
  font-weight: bold;
}

button:hover {
  background-color: #f48fb1;
}

canvas {
  border: 3px dashed #ffdae7;
  border-radius: 16px;
  background-color: white;
  cursor: crosshair;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
}