body {
  width: 640px;
  margin: 0 auto; 
  /* 위 아래 0 , 좌우 중간 자동정렬 */
}

h1 {
  text-align: center;
}

.full-img {
  position: relative;
  /* 
  내부에 절대 위치 요소(position: absolute)를 둘때 기준이 되게함
  - 이미지 위에 글씨나 버튼을 띄울 때

  썸네일 img 태그, overlay필터 div 태그, 토글 button 태그
  */
  display: block;
  /* div가 블록요소로 표시되어 한줄을 다 차지하게함 */
  width: 640px;
  height: 480px;
}

.full-img img {
  width: 100%;
  height: 100%;
}

.overlay {
  /* 
  위치 지정 속성: absolute(절대적인)
  >> 상위 요소 중 가장 가까운 relative 요소를 기준으로 정렬
  */
  position: absolute;
  top: 0;
  left: 0;

  width: 640px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0);
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(150, 150, 150, 0.6);
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(212, 212, 212);
}

.thumb-bar img {
  display: block;
  /* 블록 요소처럼 동작시켜 여백 제어를 쉽게 함 */
  width : 20%;
  /* 한 줄에 5개씩 들어갈수 있게 함 */
  height: 100px;
  float: left;
  /* 왼쪽부터 차례로 가로 정렬 */
  cursor: pointer;
  transition: all 0.3s ease;
}

.thumb-bar img:hover {
  filter: brightness(0.9);
}